{% block navbar %}
    <link type="text/css" rel="stylesheet" href="../static/navbar-fixed-top.css"/>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Vander&#8217;s Corner</span>
            </div>
            <div id="navbar" class="navbar-collapse collapse"><!--.nav-collapse -->
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="http://imythess.com/" target="_blank">Imythess</a></li>
                    <li><a href="{{ url_for('chat') }}">Chat</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Characters <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('user', profileid=2103881) }}" target="_blank">Hong</a></li>
                            <li><a href="{{ url_for('user', profileid=2103641) }}" target="_blank">Vander</a></li>
                            <li><a href="{{ url_for('user', profileid=2088718) }}" target="_blank">Sark</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Less Played:</li>
                            <li><a href="{{ url_for('user', profileid=2105903) }}" target="_blank">Ella</a></li>
                            <li><a href="{{ url_for('user', profileid=2087619) }}" target="_blank">Leverit</a></li>
                            <li><a href="{{ url_for('user', profileid=2088086) }}" target="_blank">Naom</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('home') }}">Current Topics</a></li>
                    <li><a href="{{ url_for('home') }}">Completed Topics</a></li>
                    <li><a href="{{ url_for('home') }}">Etc.</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}