{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}Live Feed{% endblock %}

{% block content %}
    <div class="container" id="writetweets">
    <form method="POST">
        {{ wtf.quick_form(form, id='submission') }}
    </form>
    </div>
    <div class="container" id="fetchtweets">
        <p>And feast thine eyes upon that which they have spoketh.</p>
        <p><button id="getrdun" class="btn">Update Tweets</button></p>
    </div>
    <div class="container" id="tweets">
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="../static/js/tweethandler.js"></script>
{% endblock %}